# Git
.git/
.gitignore
.gitattributes

# Build artifacts
target/

# Logs
*.log

# IDE files
.idea/
.vscode/
.settings/
.classpath
.project

# Documentation
README.md
HELP.md

# Docker files
docker-compose.yml
render.yaml 